body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding: 10px;
  }
  
  .title {
    background: #e3f4ff;
    font-weight: bold;
    margin-top: 0px;

  }
  
  .content {
    background: #e3f4ff;
    margin-bottom: 10px;
  }
  
  .button-container {
    background: #e3f4ff;
    text-align: center;
    padding bottom: 10px;
  }
  
  button {
    background: white;
    border: 1px solid #eee;
    display: block;
    margin-left: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .title, .content, .button-container, button {
    font-size: 16px;
  }
  .title, .content, .button-container {
    padding: 10px;
  }